:root {
    --main-ui-color: #ffffff;
    --separator-color: #d6d6d6;

    --ui-2-color: #d6d6d6;
    --ui-button-color: #ffb7b7;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: var(--main-ui-color);
    width: 100vw;
    height: 82px;
}

.header > div {
    display: flex;
    width: 100%;
    height: 81px;
    padding: 16px;
}

#logo {
    width: 300px;
    height: 50px;
}

div.divider {
    width: 100%;
    height: 1px;
    background-color: var(--separator-color);
}

span.divider {
    width: 1px;
    height: 100%;
    background-color: var(--separator-color);
}

#editor {
    display: flex;
    width: 100%;
    height: calc(100vh - 83px);
}

.viewport {
    width: calc(100% - 1002px);
    height: 100%;
    flex-grow: 1;
}

.textures,
.tools {
    flex: 1, 1;
    width: 500px;
    height: 100%;
    padding: 16px;
}

.tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 16px;
}

.editor-tool {
    background-color: var(--ui-button-color);
    width: 50%;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 16px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
}
.editor-tool > img {
    height: 100%;
}

.textures {
    display: flex;
    flex-direction: column;
}

.listing-options {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
}

.listing-options label {
    text-align: center;
    font-size: 24px;
}

#texture-catagory,
#texture-sorting {
    text-align: center;
    font-size: 24px;
    background-color: var(--ui-2-color);
    flex: 1;
    width: 100%;
    height: 50px;
    border-radius: 16px;
}

.texture-list {
    background-color: var(--ui-2-color);
    overflow: auto;
    flex: 1;
    border-radius: 16px;
}

.texture-options {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
}

#color-wheel {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: var(--ui-2-color);
    border-radius: 16px;
    margin-bottom: 10px;
}

.color-configs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-block: 50px;
    padding-inline: 25px;
    border-radius: 16px;
}

.color-configs > * {
    flex-grow: 1;
    width: 100%;
    border-radius: 16px;
}

.color-configs > button > img {
    height: 100%;
}

.canvas-container {
    background-color: #dadadaff;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

#canvas {
    background-color: #ffffff;
    height: 90%;
    aspect-ratio: 1 / 1;

    /* For Firefox */
    image-rendering: -moz-crisp-edges;
    /* For Chrome/Safari/Edge */
    image-rendering: -webkit-optimize-contrast;
    /* Standard property */
    image-rendering: pixelated;
    /* Further ensures sharp scaling */
    image-rendering: crisp-edges;
}